.fake-news {
  background: var(--cor-bg-terciario);
  position: relative;
}
.fake-news-container {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  max-width: 1300px;
  padding: 120px 20px;
  margin: 0 auto;
  gap: 40px;
}
.fake-news-container h2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--cor-subtitulo);
  grid-column: 1/-1;
}
.fake-news-container p {
  color: var(--cor-texto);
  margin: 60px 0 40px 0;
}
.fake-news-container dd {
  display: none;
  color: var(--cor-texto);
  margin: 20px 0;
  animation: showdown 0.3s forwards;
}
.fake-news-container dd.active {
  display: block;
}
.fake-news-container dt {
  color: var(--cor-cinza);
  margin: 50px 0;
  cursor: pointer;
}
.fake-news-img img {
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 0 6px 0px rgba(233, 78, 27, 0.6);
  margin-top: 60px;
}
.fake-news-img::before {
  content: "";
  display: block;
  width: 30px;
  height: max-content;
  background: var(--cor-detalhe-3);
  position: absolute;
  border-radius: 10px;
  right: -10px;
}
.fake-news-img {
  grid-column: 3;
  grid-row: 2/4;
}
.fake-news-accordion {
  grid-column: 2;
}

.fake-news-accordion dt::after {
  content: "";
  display: inline-block;
  background: url("../../imagem/icons/arrow-right.svg") no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 15px;
  bottom: 0px;

  transition: 0.3s;
}
@media (max-width: 1000px) {
  .fake-news-container {
    display: block;
  }

  .fake-news-img source {
    max-width: 575.33px;
    height: 418.67px;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 600px) {
  .fake-news-img img {
    margin-top: 30px;
  }
}
.fake-news-accordion dt.active::after {
  rotate: 180deg;
}
